@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

/* Заголовок */

header {
    width: 100%;
    height: 100px;
    background-color: white;

    color: black;
    font-family: "Comfortaa", sans-serif;
}

header h1 {
    position: absolute;
    display: flex;
    line-height: 100px;
    font-size: 28px;
}

header h1 a {
    height: 100px;
}

header h1 p {
    padding-right: 20px;
}

header h1 img {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

header h1:hover {
    color: white;
    background-color: #ff473e;
    transition: all .4s ease;
}

/* Меню навигации */

nav {
    line-height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px
}

nav li:hover {
    background-color: #ff473e;
    transition: all .4s ease;
}

nav li:hover a {
    color: white;
    transition: all .4s ease;
}

/* Тело сайта */

main {
    background-color: #e3e3e3;
    width: 100%;
    font-family: "Comfortaa", sans-serif;
}

main h1 {
    color: black;
    padding-top: 40px;
    text-align: center;
    color: #ff473e;
}

/* Карточки о нас */

.cards {
    display: flex;
    justify-content: center;
}

.card-body {
    padding: 20px; 
    margin: 40px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.card-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-text {
    text-align: center;
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 20px;
}

.card-body:hover .card-title {
    color: #ff473e;
    transition: all .4s ease;

}

.card-body:hover {
    transform: scale(1.15);
    transition: all .6s ease;
}

/* Форма поиска автомобля */

.find-form {
    display: flex;
    justify-content: center;
}

.form-body {
    padding: 20px; 
    margin: 40px;
    background-color: white;
    border-radius: 10px;
}