@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

/* Заголовок */

header {
    width: 100%;
    height: 100px;
    background-color: white;

    color: black;
    font-family: "Comfortaa", sans-serif;
}

header h1 {
    position: absolute;
    display: flex;
    line-height: 100px;
    font-size: 28px;
}

header h1 a {
    height: 100px;
}

header h1 p {
    padding-right: 20px;
}

header h1 img {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

header h1:hover {
    color: white;
    background-color: #ff473e;
    transition: all .4s ease;
}

/* Меню навигации */

nav {
    line-height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px
}

nav li:hover {
    background-color: #ff473e;
    transition: all .4s ease;
}

nav li:hover a {
    color: white;
    transition: all .4s ease;
}

/* Тело сайта */

main {
    background-color: #e3e3e3;
    width: 100%;
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 40px;
}

main h1 {
    color: black;
    padding-top: 40px;
    text-align: center;
    color: #ff473e;
}

/* Карточки о нас */

.cards {
    display: flex;
    justify-content: center;
}

.card-body {
    padding: 20px; 
    margin: 40px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.card-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-text {
    text-align: center;
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 20px;
}

.card-body:hover .card-title {
    color: #ff473e;
    transition: all .4s ease;

}

.card-body:hover {
    transform: scale(1.15);
    transition: all .6s ease;
}

/* Форма поиска автомобля */

.find-form {
    display: flex;
    justify-content: center;
}

.form-body {
    padding: 20px; 
    margin: 40px;
    background-color: white;
    border-radius: 10px;
    width: 600px;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: grey 2px solid;
}

.form-input {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-bottom: grey 2px solid;
    background-color: #e3e3e3;
}

.form-btn {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: grey 2px solid;
    cursor: pointer;
}

.form-btn:hover, 
.post-btn:hover {
    background-color: #ff473e;
    color: white;
    border-radius: 5px;
    transition: all .4s ease;
}

.form-input:focus {
    background-color: #ff473e;
    background: rgba(255, 71, 62, .2);
    outline: none;
}
/* Новостной блог */

.blog {
    display: flex;
    justify-content: center;
}

.post-body {
    width: 300px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    
}

.post-img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.post-btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: grey 2px solid;
    cursor: pointer;
}

.post-title {
    color: #ff473e;
    margin-bottom: 15px;
}

.post-body:hover {
    transform: scale(1.10);
    transition: all .4s ease;
}

/* Подвал */

footer {
    width: 100%;
    background-color: #3b3939;

    color: white;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

.contact {
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;

}
footer a:hover {
    color: #ff473e;
}

.text-orange {
    color: #ff473e;
}

.footer-nav {
    padding-top: 20px;
}